<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="StructureMap"
        type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>

  <StructureMap MementoStyle="Attribute">
    <DefaultInstance
        PluginType="StructureMap.Test.IContractValidator,StructureMap.Test"
        PluggedType="StructureMap.Test.ContractValidator,StructureMap.Test"
        Scope="Singleton" />
    <DefaultInstance
        PluginType="StructureMap.Test.IContractRepository,StructureMap.Test"
        PluggedType="StructureMap.Test.ContractRepository,StructureMap.Test"
        Scope="Singleton"
        connectionString="server=localhost; User ID=root; Psw=dev; datasource=test1;"
        connectionString2="server=localhost; User ID=root; Psw=dev; datasource=test2;"/>
  </StructureMap>
  <appSettings>
    <add key="connection" value="connectionString2"/>
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>